@using Hospital01.Dto
@model IEnumerable<PersonaDto>
@{
    ViewData["Title"] = "Persona";
    List<SelectListItem> selectListItems = ViewBag.selectListSexo;
}

<div class="row">
    <div class="col-md-12">
        <h1>Personas</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="frm_filtrar" asp-controller="Persona" asp-action="Index" method="post" class="mb-2">
            <label>Seleccione el sexo</label>
            @Html.DropDownList("SexoId", selectListItems, new { @class = "form-control", @id = "ddl_sexo", @onchange = "FiltrarPorPersona()" })
        </form>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(x => x.NombreCompleto)</th>
                    <th>@Html.DisplayNameFor(x => x.Email)</th>
                    <th>@Html.DisplayNameFor(x => x.NombreSexo)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var persona in Model)
                {
                    <tr>
                        <td>@persona.NombreCompleto</td>
                        <td>@persona.Email</td>
                        <td>@persona.NombreSexo</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function FiltrarPorPersona() {
        document.getElementById("frm_filtrar").submit();
    }
</script>