@using Hospital01.Dto
@model IEnumerable<PersonaDto>
@{
    ViewData["Title"] = "Persona";
    List<SelectListItem> selectListItems = ViewBag.selectListSexo;
}

<div class="row">
    <div class="col-md-12">
        <h1>Personas</h1>
    </div>
</div>
<a class="btn-link" asp-action="Create">Nuevo Registro</a>
<div class="row">
    <div class="col-md-12">
        <form id="frm_filtrar" asp-controller="Persona" asp-action="Index" method="post" class="mb-2">
            <label>Seleccione el sexo</label>
            @Html.DropDownList("SexoId", selectListItems, new { @class = "form-control", @id = "ddl_sexo", @onchange = "FiltrarPorPersona()" })
        </form>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(x => x.NombreCompleto)</th>
                    <th>@Html.DisplayNameFor(x => x.Email)</th>
                    <th>@Html.DisplayNameFor(x => x.NombreSexo)</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var persona in Model)
                {
                    <tr>
                        <td>@persona.NombreCompleto</td>
                        <td>@persona.Email</td>
                        <td>@persona.NombreSexo</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-danger" onclick="Eliminar(@persona.Id)"><i class="fa fa-trash"></i></button>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@persona.Id"><i class="fa fa-edit"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form id="frm_persona_delete" asp-action="Delete" method="post">
            <input type="hidden" id="personaId" name="personaId" />
        </form>
    </div>
</div>
<script>
    function FiltrarPorPersona() {
        document.getElementById("frm_filtrar").submit();
    }

    function Eliminar(id) {
        ConfirmDelete(undefined, undefined)
            .then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("personaId").value = id;
                    document.getElementById("frm_persona_delete").submit();
                }
            });
    }
</script>