@using Hospital01.Dto
@model IEnumerable<EspecialidadDto>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-12">
        <h1>Especialidades</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-primary mb-2">Agregar</a>

        <div class="mb-2" style="display:grid; grid-template-columns:1fr 2fr 0.5fr 0.5fr">
            <label>Ingrese nombre de la especialidad</label>
            <input type="text" id="txt_nombre_especialidad" class="form-control"/>
            <input type="button" class="btn btn-info" value="Filtrar" onclick="Filtrar()"/>
            <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()"/>
        </div>

        <table class="table index-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Mensaje 1</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="tbody-index">
                @foreach (var especialidad in Model)
                {
                    <tr>
                        <td>@especialidad.Nombre</td>
                        <td>@especialidad.Descripcion</td>
                        <td>@especialidad.TestMessage1</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <i class="fa fa-trash btn btn-danger" aria-hidden="true" onclick="Eliminar(@especialidad.Id)"></i>
                                <a class="fa fa-edit btn btn-primary" aria-hidden="true" asp-action="Edit" asp-route-id="@especialidad.Id"></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form id="frm_especialidad_delete" asp-action="Delete" method="post">
            <input type="hidden" id="especialidadId" name="especialidadId" />
        </form>
    </div>
</div>
<script>
    window.onload = function () {
        $(document).ready(function () {
            DataTableEs();
        });
    }

    function Filtrar() {
        var nombreEspecialidad = document.getElementById("txt_nombre_especialidad").value;
        $.get("Especialidad/FiltrarEspecialidad/?nombreEspecialidad=" + nombreEspecialidad, function (data) {
            var contenido = "";
            data.forEach(function (item) {
                contenido += `<tr>
                        <td>${item.nombre}</td>
                        <td>${item.descripcion}</td>
                        <td>${item.testMessage1 != null ? item.testMessage1 : ""}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <i class="fa fa-trash btn btn-danger" aria-hidden="true" onclick="Eliminar(${item.id})"></i>
                                <a class="fa fa-edit btn btn-primary" aria-hidden="true" asp-action="Edit" href="/Especialidad/Edit/${item.id}"></a>
                            </div>
                        </td>
                    </tr>`;
            }, this);
            document.getElementById("tbody-index").innerHTML = contenido;
            DataTableEs();
        });
    }

    function Limpiar() {
        document.getElementById("txt_nombre_especialidad").value = "";
    }

    function Eliminar(id) {
        ConfirmDelete(undefined, undefined)
            .then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("especialidadId").value = id;
                    document.getElementById("frm_especialidad_delete").submit();
                }
            });
    }
</script>