@using Hospital01.Dto
@model IEnumerable<EspecialidadDto>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-12">
        <h1>Especialidades</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-primary mb-2">Agregar</a>

        <form id="frm_busqueda" asp-controller="Especialidad" asp-action="Index" method="post" class="mb-2" style="display:grid; grid-template-columns:1fr 2fr 0.5fr 0.5fr">
            <label>Ingrese nombre de la especialidad</label>
            <input type="text" id="txt_limpiar" class="form-control" name="Nombre" value="@ViewBag.Nom"/>
            <input type="submit" class="btn btn-info" />
            <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()"/>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Mensaje 1</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var especialidad in Model)
                {
                    <tr>
                        <td>@especialidad.Nombre</td>
                        <td>@especialidad.Descripcion</td>
                        <td>@especialidad.TestMessage1</td>
                        <td><button class="btn btn-danger" onclick="Eliminar(@especialidad.Id)"><i class="fas fa-trash"></i></button></td>
                    </tr>
                }
            </tbody>
        </table>
        <form id="frm_especialidad_delete" asp-action="Delete" method="post">
            <input type="hidden" id="especialidadId" name="especialidadId" />
        </form>
    </div>
</div>
<script>
    function Limpiar() {
        document.getElementById("txt_limpiar").value = "";
        document.getElementById("frm_busqueda").submit();
    }

    function Eliminar(id) {
        ConfirmDelete(undefined, undefined)
            .then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("especialidadId").value = id;
                    document.getElementById("frm_especialidad_delete").submit();
                }
            });
    }
</script>