@model IEnumerable<Hospital01.Dto.MedicamentoDto>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> formaFarmaceuticaList = ViewBag.formaFarmaceuticaList;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form id="frm_filtrar" asp-controller="Medicamento" asp-action="Index" method="post" class="mb-2">
    @Html.DropDownList("FormaFarmaceuticaId", formaFarmaceuticaList, new { @class = "form-control", @onchange="FiltrarPorFormaFarmaceutica()" })
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormaFarmaceutica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaFarmaceutica)
            </td>
            <td>
                <div class="btn-group" role="group">
                    <i class="btn btn-danger fa fa-trash" aria-hidden="true" onclick="Eliminar(@item.Id)"></i>
                    <a class="btn btn-primary fa fa-edit" aria-hidden="true" asp-action="Edit" asp-route-id="@item.Id"></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<form id="frm_medicamento_delete" asp-action="Delete" method="post">
    <input type="hidden" id="medicamentoId" name="medicamentoId" />
</form>
<script>
    function FiltrarPorFormaFarmaceutica() {
        document.getElementById("frm_filtrar").submit();
    }

    function Eliminar(id) {
        ConfirmDelete(undefined, undefined)
            .then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("medicamentoId").value = id;
                    document.getElementById("frm_medicamento_delete").submit();
                }
            });
    }
</script>