@model IEnumerable<Hospital01.Dto.SedeDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Sedes</h1>

<p>
    <a asp-action="Create">Crear nueva</a>
</p>

<form id="frm_sede" asp-controller="Sede" asp-action="Index" method="post" class="mb-2">
    <label>Ingrese el nombre de la sede</label>
    <input type="text" class="form-control" name="Nombre" onkeyup="Buscar()" value="@ViewBag.NombreSede"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function Buscar() {
        document.getElementById("frm_sede").submit();
    }
</script>