@model IEnumerable<Hospital01.Dto.SedeDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Sedes</h1>

<p>
    <a asp-action="Create">Crear nueva</a>
</p>

<form id="frm_sede" asp-controller="Sede" asp-action="Index" method="post" class="mb-2">
    <label>Ingrese el nombre de la sede</label>
    <input type="text" class="form-control" name="Nombre" onkeyup="Buscar()" value="@ViewBag.NombreSede"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button class="btn btn-danger" onclick="Eliminar(@item.Id)" aria-hidden="true"><i class="fa fa-trash"></i></button>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id" aria-hidden="true"><i class="fa fa-edit"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
<form id="frm_sede_delete" asp-action="Delete" method="post">
    <input type="hidden" id="sedeId" name="sedeId" />
</form>
<script>
    function Buscar() {
        document.getElementById("frm_sede").submit();
    }

    function Eliminar(id) {
        ConfirmDelete().then((result) => {
            if (result.isConfirmed) {
                document.getElementById("sedeId").value = id;
                document.getElementById("frm_sede_delete").submit();
            }
        })
    }
</script>