@model IEnumerable<Hospital01.Dto.PaginaDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form id="frm_filtrar" asp-controller="Pagina" asp-action="Index" method="post" class="mb-2" style="display:grid;grid-template-columns: 1fr 2fr 1fr 1fr">
    <label>Mensaje</label>
    <input type="text" id="txt_mensaje" name="Mensaje" value="@ViewBag.filtroMensaje"/>
    <input type="submit" class="btn btn-primary" value="Filtrar"/>
    <input type="button" class="btn btn-secondary" value="Limpiar" onclick="Limpiar()"/>
</form>

<table class="table index-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Controller)
            </td>
            <td>
                <button class="btn btn-danger" onclick="Eliminar(@item.Id)"><i class="fa fa-trash"></i></button>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<form id="frm_pagina_delete" asp-action="Delete" method="post">
    <input type="hidden" id="paginaId" name="paginaId" />
</form>
<script>
    window.onload = function () {
        $(document).ready(function () {
            DataTableEs();
        });
    }

    function Limpiar() {
        document.getElementById("txt_mensaje").value = "";
        document.getElementById("frm_filtrar").submit();
    }

    function Eliminar(id) {
        ConfirmDelete(undefined, undefined).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("paginaId").value = id;
                document.getElementById("frm_pagina_delete").submit();
            }
        })
    }
</script>